.message {
    font-family: 'Cabin', sans-serif;
    font-size : calc(14px + 1.5vw);
}

.autosuggestQuestionContainer {
    
    display: inline-flex;

}


.questionMark {
    margin-top: 15px;
    vertical-align: top;
    text-align: top;
    
}