h1 {
    font-family: 'Cabin', sans-serif;
    font-size : calc(98px);
}

h2 {
    font-size : 64px;
    font-family: 'Cabin', sans-serif;

}

h3 {
    font-size : 48px;
    font-family: 'Cabin', sans-serif;
}

h4 {
    font-size : calc(10px + 1.5vw);
    font-family: 'Cabin', sans-serif;


}

h5 {
    font-size : calc(7px + 1vw);
    font-family: 'Cabin', sans-serif;

}

h6 {
    font-size : calc(18px);
    font-family: 'Cabin', sans-serif;

}

subtitle1 {

    font-family: 'Cabin', sans-serif;


}

subtitle2 {

    font-family: 'Cabin', sans-serif;


}

body1 {
    
    font-family: 'Cabin', sans-serif;


}

body2 {

    font-family: 'Cabin', sans-serif;


}

button {

    font-family: 'Cabin', sans-serif;

}

