.sobre-container {
    text-align: center;
    margin: 80px 40px 0px 40px;
}

.sobre-container h1 {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    border-bottom: 2px solid #aaa;
}

.sobre-container h2 {
    position: relative;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #000;
}

.sobre-container .sobre-content{
    width: 100%;
    text-align: center
}

.sobre-container p {
    width: 50%;
    display: inline-block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 1rem;
    color: #000;
}